extends layout.pug

block content
  main.page-content
    section.comments
      .comments__wrapper
        h1.visually-hidden Страница комментариев
        if (allOffers.current.length === 0)
          include partials/comments-empty
        else
          each itemOffer of allOffers.current
            .comments__block
              .comments__header
                a.announce-card(href=`/offers/${itemOffer.id}`)
                  h2.announce-card__title #{itemOffer.title}
                  span.announce-card__info
                    span.announce-card__price ₽ #{itemOffer.sum}
                    +ticketLabel(itemOffer.type)(class=`announce-card__type`)
              ul.comments-list
                each comment of itemOffer.comments
                  li.js-card
                    .comment-card
                      .comment-card__header
                        a.comment-card__avatar.avatar(href='/my/comments')
                          img(src=`/img/${comment.users.avatar}` alt="Аватар пользователя")
                        p.comment-card__author #{comment.users.name}
                        p.comment-card__date #{comment.createdAt}
                      .comment-card__content
                        p
                          | #{comment.text}
                      a.comment-card__delete(
                        href=`/offers/${itemOffer.id}/comments/${comment.id}`
                      )
                        | Удалить
