extends layout.pug

block content
  main.page-content
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        a.tickets-list__btn.btn.btn--big(href="/offers/add")
          span Новая публикация
      ul
        each itemOffer of allOffers.current
          li.tickets-list__item.js-card
            +ticketCard()
              .ticket-card__img
                +insertOfferImage(itemOffer)
              .ticket-card__info
                +ticketLabel(itemOffer.type)
                .ticket-card__categories
                  each category of itemOffer.categories
                    a(href=`/offers/category/${category.id}`) #{category.name}
                .ticket-card__header
                  h3.ticket-card__title
                    a(href=`/offers/edit/${itemOffer.id}`) #{itemOffer.title}
                  p.ticket-card__price
                    span.js-sum #{itemOffer.sum}
                    |  ₽
              a.ticket-card__del(href=`/offers/${itemOffer.id}`) Удалить
